a {
text-decoration: none;
color: black;
}
.map-container {
  width: 100%;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}
