body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
}
.section-title {font-weight: 600;}
.card-title {font-weight: 600;}

strong {
  font-weight: 600;
}
